{% extends './base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block miCSS %}<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">{% endblock %}
    <title>{% block titulo %}Home{% endblock %}</title>
</head>
<body>
    {% block cuerpo %}
        <!--<h1>Bienvenido a mi <i>homepage</i> <b>{{ username }}</b>!</h1>
        <h2>Nombre completo: <u>{{ current_user.fullname }}</u></h2>-->
        <h1>Nombre completo de <u>usuario</u>:  <i><b>{{ current_user.fullname }}</b></i></h1>
        <a class="btn btn-danger" href="{{ url_for('logout') }}">Cerrar sesión</a>
    {% endblock %}
</body>
</html>