form {
    margin: 10px;
    padding: 10px;
    background-color: lightpink;
    border-radius: 8px;
    border: 1px solid black;
}
.form-label{
    font-style: italic;
    font-weight: bold;
}

.alert {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: underline;
}
.alert-warning {
    background-color: #fff3cd; 
    color: #664d03; 
}
.alert-success {
    background-color: #ebf5f0;
    color: #198754
}
.alert-danger {
    background-color: #fbeaeb; 
    color: #dc3545;           
}
.alert-primary {
    background-color: #e5e9ee; 
    color: #0d6efd; 
}